{
    "presets": [
        [
            "@babel/env",
            {
                "useBuiltIns": "usage",
                "corejs": {
                    "version": "3.8"
                }
            }
        ],
        [
            "@babel/react",
            {
                "runtime": "automatic"
            }
        ],
        "@babel/typescript"
    ]
}